<header class="header">
    <div class="header__container">
        <img class="header__imagen" src="../assets/img/pokeball.png" alt="">
        <h1 class="header__heading">Pokédex</h1>
        <img class="header__imagen" src="../assets/img/pokeball.png" alt="">
    </div>
    <a class="header__link" href="#">Git Hub</a>
</header>
<router-outlet />
<footer class="footer">
    <p class="footer__parrafo"><kbd class="footer__parrafo-kbd">A</kbd>
        <a class="footer__parrafo-link" href="./../index.html"> Pokédex diego-maker</a>
    </p>
	<p class="footer__parrafo"><kbd class="footer__parrafo-kbd">X</kbd>
        <a class="footer__parrafo-link" href="https://github.com/diegoarnanz-maker" target="_blank">¿Quieres ver el código?</a>
    </p>
<footer class="footer"></footer>
